@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .player-card-info {
    max-width: 100px;
  }
}

@layer base {
  :root {
    color-scheme: dark;
    background: white;
  }
}
