@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .player-card-info {
    max-width: 100px;
  }
  .table-row {
    flex-direction: row;
    display: inline-flex;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-self: center;
    align-items: center;
  }

  .table-head-item {
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    text-align: center;
    font-weight: 300;
    --tw-text-opacity: 0.6;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .table-head-club-item {
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    text-align: left;
    font-weight: 300;
    --tw-text-opacity: 0.6;
    font-size: 0.75rem;
    line-height: 1rem;
    flex: 1 1 auto;
  }

  .table-body-item {
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    --tw-text-opacity: 0.6;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.25rem;
    width: 2rem;
  }

  .table-body-name-item {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.25rem;
    flex: 1 1 auto;
  }

  .match-card-border {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(107, 114, 128, var(--tw-border-opacity));
    --tw-border-opacity: 0.1;
    padding: 1.25rem;
  }
}

@layer base {
  :root {
    color-scheme: dark;
    background: white;
  }
}
